<div class="container-fluid principal p-4 row">
  <div class="col-4">
    <div class="row">
      <app-luchador class="col-6 p-0 border" *ngFor="let luchador of luchadores; let i = index" [luchador]="luchador"
                    [numLuchadorSeleccionado]="indiceSeleccionado"
                    [indiceLuchador]="i"
                    (actualizarLuchadorSeleccionado)="actualizarIndice($event)"
      >

      </app-luchador>
    </div>
  </div>
  <div class="col-8">
    <div class="row">

      <div class="col-6 text-center">
        <img *ngIf="indiceSeleccionado != -1"
             [src]="this._sanitizer.bypassSecurityTrustResourceUrl(luchadores[indiceSeleccionado].animacion)"
             alt="gif luchador"
        >
      </div>
      <div class="col-6 text-center">
        <h1 *ngIf="indiceSeleccionado != -1">{{luchadores[indiceSeleccionado].nombre}}</h1>
        <app-atributos-luchador
          *ngIf="indiceSeleccionado != -1"
          [nombreAtributo]="'Fuerza'" [valorAtributo]="luchadores[indiceSeleccionado].fuerza"
        ></app-atributos-luchador>

        <app-atributos-luchador
          *ngIf="indiceSeleccionado != -1"
          [nombreAtributo]="'Destreza'" [valorAtributo]="luchadores[indiceSeleccionado].destreza"
        ></app-atributos-luchador>

        <app-atributos-luchador
          *ngIf="indiceSeleccionado != -1"
          [nombreAtributo]="'Vida'" [valorAtributo]="luchadores[indiceSeleccionado].vida"
        ></app-atributos-luchador>

        <button *ngIf="indiceSeleccionado != -1" class="btn btn-dark col-12 mt-5" [routerLink]="'/antes-luchar/'+luchadores[indiceSeleccionado].id">Seleccionar</button>
      </div>

    </div>
  </div>
</div>

