app-luchador {
  background-color: white;
  padding: 0;
}
.principal {
  display: flex;
  background-color: rgba(147, 112, 219, 0.7);
  border: 5px solid rebeccapurple;
  border-radius: 5px;
  padding: 25px;
  box-sizing: border-box;
}
img {
  width: 300px;
  height: 400px;
}
h1 {
  text-transform: uppercase;
  color: #c4c18c;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
