<div class="container contenedor-pelea">
  <div class="row">
    <div class="col-4 d-flex justify-content-center align-content-center">
      <img [src]="this._sanitizer.bypassSecurityTrustResourceUrl(this.luchador.animacion)" alt="gif luchador 1">
    </div>
    <div class="col-4 d-flex justify-content-center align-content-center">
      <img src="assets/vs.png" alt="VS">
    </div>
    <div class="col-4 d-flex justify-content-center align-content-center">
      <img class="img-rotada" [src]="" alt="gif luchador 2">
    </div>
  </div>
</div>
